.header {
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
}
.header__title {
  max-width: 709px;
  margin: 0px;
  margin-left: 80px;
  margin-top: 183px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}
.header__span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}
.header__description {
  margin: 0;
  margin-left: 80px;
  margin-top: 28px;
  max-width: 683px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}
.header__footer {
  margin: 0;
  margin-top: auto;
  margin-left: 80px;
  margin-bottom: 40px;
  margin-right: 80px;
  display: flex;
  justify-content: space-between;
}
.header__hours {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}
.header__address {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.header__paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin: 0;
  z-index: 1;
}
