.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  scroll-behavior: smooth;
}
.nav__logo {
  width: 105px;
  height: 39px;
  margin-left: 30px;
}
.nav__links {
  display: flex;
  list-style: none;
  gap: 20px;
  margin-right: 80px;
}
.nav__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  text-decoration: none;
}
.nav__link:hover {
  color: #2f80ed;
}
